<!DOCTYPE html>
<html lang="de" class="auto-mode">

<head>
    <meta charset="utf-8">
    <base href="/sfo-olaf/">
    <link rel="canonical" href="https://example.com/">

    <!-- meta tags -->
    <title>{{ title }} // oLaF SFO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow,noarchive,max-snippet:-1">
    <meta name="google-site-verification" content="">
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Home">
    <meta property="og:type" content="video.movie">
    <meta property="og:url" content="absolute url">
    <meta property="og:image" content="absolute url">
    <meta property="og:image:alt" content="image description">
    <meta property="og:description" content="">
    <meta property="og:locale" content="de_DE">
    <meta property="og:site_name" content="oLaF SFO">
    <meta property="og:type" content="website">
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">

    <!-- <link rel="stylesheet" href="assets/bootstrap-5.2.3-dist/css/bootstrap.min.css"> -->

    <!-- <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/styles.css"> -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- additional meta tags -->
    {% if navActive == 1 %}
    <meta name="theme-color" content="#ffb760" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#9f5800" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#ff8c00">
    {% elif navActive == 2 %}
    <meta name="theme-color" content="#df8080" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#802020" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#cc3333">
    {% elif navActive == 3 %}
    <meta name="theme-color" content="#d288d7" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#722877" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#b740bf">
    {% elif navActive == 4 %}
    <meta name="theme-color" content="#8891d7" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#283177" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#404fbf">
    {% elif navActive == 5 %}
    <meta name="theme-color" content="#90d0c4" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#307064" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#4db3a0">
    {% else %}
    <meta name="theme-color" content="#ffb760" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#9f5800" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#ff8c00">
    {% endif %}
    
    <!-- favicon declarations -->
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png?v=0.0.2">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png?v=0.0.2">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png?v=0.0.2">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png?v=0.0.2">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png?v=0.0.2">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png?v=0.0.2">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png?v=0.0.2">
    <link rel="manifest" href="assets/favicon/site.webmanifest?v=0.0.2">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico?v=0.0.2">
    <meta name="apple-mobile-web-app-title" content="oLaF SFO">
    <meta name="application-name" content="oLaF SFO">
    <meta name="msapplication-TileColor" content="#ffa940">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml?v=0.0.2">
    
    <script src="assets/js/cookies.js"></script>
</head>

<body>
    <div class="layout-site">
        {% include "partials/navbar.njk" %}
        <div class="layout-navbar-spacer"></div>
        <main class="layout-main">
            <div class="layout-main__container">
                {{ content | safe }}
                <footer class="olaf-footer">
                    <div id="cookie-prompt" style="display: none;">
                        <div class="alert">
                            Um deine Präferenz zu speichern nutzen wir (nicht-trackende!) Cookies mit einer Gültigkeit von 7 Tagen.
                            <br>
                            Bist du damit einverstanden?
                            <br>
                            <a onclick="ProceedToSetTheme()" class="btn">Ja</a> <a onclick="HideCookiePrompt()" class="btn">Nein</a>
                        </div>
                    </div>
                    <div class="__themes">
                        <button class="__toggle" id="toggle-auto-mode" onclick="ToggleAutoMode()">
                            <span>Auto</span>
                        </button>
                        <button class="__toggle" id="toggle-dark-mode" onclick="ToggleDarkMode()">
                            <span id="svg-moon" class="__toggle-icon">&#xF497;</span>
                            <span id="svg-moon-fill" class="__toggle-icon">&#xF494;</span>
                        </button>
                        <button class="__toggle" id="toggle-terminal-mode" onclick="ToggleTerminalMode()">
                            <span id="svg-terminal" class="__toggle-icon">&#xF5C3;</span>
                            <span id="svg-terminal-fill" class="__toggle-icon">&#xF5C2;</span>
                        </button>
                    </div>
                    <div class="__legal">
                        <span class="__item">
                            <a href="">Impressum</a>
                        </span>
                        <span class="__item w-100">
                            &copy; 2023 oLaFF
                        </span>
                    </div>
                </footer>
            </div>
        </main>
    </div>


    <script src="assets/js/main.js"></script>
    <script src="assets/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
</body></html>