/*
    global adjustments
*/

::selection {
    background-color: var(--olaf-orange-25);
}

:target {
    background-color: var(--olaf-red-25);
}


/*
    global tag specific adjustments
*/

body {
    background-color: var(--olaf-white);
    color: var(--olaf-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
small {
    font-family: var(--olaf-font);
}

h1,
.h1 {
    font-weight: 600;
}

small {
    font-weight: 500;
}

a {
    font-family: var(--olaf-font);
    text-decoration: none;
    color: var(--olaf-link);

    &:hover {
        text-decoration: underline;
        color: var(--olaf-link);
    }

    &:visited {
        color: var(--olaf-link-visited);
    }

    &.external:not(.olaf-navbar__socials a)::after,
    &[href*="://"]:not(.olaf-navbar__socials a)::after,
    &[href*="www."]:not(.olaf-navbar__socials a)::after {
        content: '\F1C5';
        display: inline-block;
        font-family: 'bootstrap-icons', var(--bs-font-sans-serif);
        font-size: .8rem;
        padding-left: .2rem;
    }

    main &:not(footer a) {
        font-size: 1.08rem;
        font-weight: 500;
    }
}

@mixin olaf-link-reset() {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    &:visited {
        color: inherit;
    }
}

hr {
    height: 1px;
    width: 100%;
    color: var(--olaf-light-grey);
}


/*
    global custom classes
    first: specific properties/looks
    second: entire elements/components
*/

._olaf-font {
    font-family: var(--olaf-font);
}

._slanted-corners {
    @include slanted-corners();
}

.btn {
    @include olaf-link-reset();

    --#{$prefix}btn-font-family: var(--olaf-font);
    --#{$prefix}btn-font-weight: 500;
    --#{$prefix}btn-color: var(--olaf-text);
    --#{$prefix}btn-bg: #{default-color(75, "light-grey")};
    --#{$prefix}btn-hover-bg: #{default-color(50, "light-grey")};
    --#{$prefix}btn-active-bg: #{default-color(25, "light-grey")};
    --#{$prefix}btn-border-width: 0;

    @include slanted-corners();
}

.alert {
    --#{$prefix}alert-bg: #{default-color(25)};
    --#{$prefix}alert-border-color: #{default-color(100)};
    --#{$prefix}alert-border: .5rem solid var(--#{$prefix}alert-border-color);
    --#{$prefix}alert-padding-x: .5rem;
    --#{$prefix}alert-padding-y: .3rem;

    border-top: none;
    border-right: none;
    border-bottom: none;

    @include slanted-corners();
}

.olaf-breadcrumb {
    @extend .print-d-none;

    .breadcrumb {
        --#{$prefix}breadcrumb-divider: "/";
        --#{$prefix}breadcrumb-divider-color: inherit;
        --#{$prefix}breadcrumb-item-active-color: inherit;

        color: var(--olaf-light-grey);

        .active a {
            text-decoration: none;
            font-weight: 400;
        }

        .breadcrumb-item,
        .breadcrumb-item a {
            font-family: var(--olaf-font);
            font-size: 1rem;
            color: inherit !important;
        }
    }
}


.layout-site {
    @extend .row;
    @extend .g-0;
}

.layout-navbar-spacer {
    @extend .col-lg-3;
    @extend .print-d-none;
}

.layout-main {
    @extend .col-xl-6;
    @extend .col-lg-8;
    @extend .print-w-100;

    &__container {
        @extend .mx-3;
        @extend .mb-3;
        @extend .mt-0;
        @extend .mt-lg-3;
    }
}

.olaf-navbar {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .col-lg-3;
    @extend .align-items-start;
    @extend .justify-content-center;
    @extend .p-0;
    @extend .print-d-none;

    &__container {
        @extend .d-flex;
        @extend .flex-lg-column;
        @extend .text-lg-start;
        @extend .text-center;
    }

    &__brand {
        @extend .text-center;
        @extend .my-0;
        @extend .my-lg-2;

        @include olaf-link-reset();

        color: inherit;
        text-decoration: none;

        img {
            height: 4rem;
        }

        p {
            @extend .h1;
            @extend .mb-0;

            font-weight: 700;

            i {
                font-weight: 400;
            }
        }
    }

    &__toggler {
        @extend .navbar-toggler;
        @extend .btn;

        &.btn,
        &.btn:active {
            color: var(--olaf-grey);
            background-color: var(--olaf-light-grey-25);
            border: none;
        }

        &-icon {
            @extend ._bootstrap-icons;
            @extend .fs-1;

            transition-duration: .3s;
            animation-duration: .3s;
            transition-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
            animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
        }

        &[aria-expanded=true] &-icon {
            transform: rotate(-90deg);
        }
    }

    &__nav {
        @extend .navbar-collapse;
        @extend .flex-column;

        /* bootstrap class (only added during transition) */
        &.collapsing {
            transition-duration: .3s;
            animation-duration: .3s;
            transition-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
            animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
        }
    }

    &__site {
        @extend .navbar-nav;
        @extend .flex-lg-column;
        @extend .text-start;
        @extend .w-100;
        @extend .mx-auto;
        @extend .mb-auto;

        --#{$prefix}nav-link-color: var(--olaf-text);
        --#{$prefix}nav-link-font-weight: 500;
        --#{$prefix}nav-link-padding-x: .5rem;
        --#{$prefix}nav-link-padding-y: .5rem;

        max-width: 60vw;

        .nav-item {
            margin-bottom: 0.5rem;
        }

        .nav-link {
            @include olaf-link-reset();

            letter-spacing: .1rem;
            transition: none;
            line-height: normal;

            @include slanted-corners();

            &.active {
                background-color: #{default-color(50)};
                color: var(--olaf-text);
            }

            &:hover {
                background-color: #{default-color(25)};
            }

            &__icon {
                @extend ._bootstrap-icons;

                font-size: 21px;
            }
        }

        .nav-item:nth-child(1) {
            @extend ._orange;
        }

        .nav-item:nth-child(2) {
            @extend ._red;
        }

        .nav-item:nth-child(3) {
            @extend ._violet;
        }

        .nav-item:nth-child(4) {
            @extend ._blue;
        }

        .nav-item:nth-child(5) {
            @extend ._turquoise;
        }
    }

    &__socials {
        @extend .d-flex;
        @extend .flex-row;
        @extend .flex-wrap;
        @extend .justify-content-center;
        @extend .justify-content-lg-start;

        width: 100%;
        color: var(--olaf-light-grey);

        &__link {
            @include olaf-link-reset();

            border: none;
            background: none;
            font-size: 1.125rem;
            padding: .25rem .5rem;

            &:hover {
                color: var(--olaf-light-grey-75);
                text-decoration: none;
            }
        }

        &__icon {
            @extend ._bootstrap-icons;
        }
    }

    &__links {
        @extend .flex-lg-column;
        @extend .flex-row;
        @extend .flex-wrap;
        @extend .justify-content-center;

        display: flex;

        a {
            color: var(--olaf-light-grey);
            display: block;
            padding: .25rem;
        }
    }

    &__divider {
        @extend .m-0;

        &_end {
            @extend .d-lg-none;
        }
    }

    @include media-breakpoint-down(lg) {
        & {
            margin: .5rem 0;

            &__container {
                flex-wrap: inherit;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 1rem;
            }

            &__brand {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        & {
            position: -webkit-fixed;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;

            &__container {
                height: 100vh;
                overflow: scroll;
                margin: 0 1.5rem;
            }

            &__brand img {
                height: auto;
                max-height: 20vh !important;
                max-width: 100%;
            }

            &__links {
                width: 100%;
            }
        }

    }
}

section {
    margin-bottom: 1rem;

    &._spacer {
        height: 0;
        margin-top: 3rem;
        margin-bottom: 0;
    }
}

#announcements {
    .alert:nth-of-type(odd) {
        @extend ._violet;
    }

    .alert:nth-of-type(even) {
        @extend ._red;
    }

    hr {
        display: none;
    }

    .alert+hr {
        display: block;
    }
}

.olaf-image {
    .__container {
        display: flex;
        color: var(--olaf-text);
        width: 100%;
        flex-direction: column;
    }

    .__img {
        @extend ._slanted-corners;

        aspect-ratio: 8/5;
        max-height: 45vh;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .__caption {
        @extend .small;
        @extend .pt-2;

        padding-left: .625rem;
        line-height: 1;
    }

    &._jumbotron {
        .__container {
            @extend ._slanted-corners;

            position: relative;
            background-color: #{default-color(100)};
            color: var(--olaf-always-white);

            &::before {
                content: '';
                background-image: linear-gradient(#00000000, #00000080);
                position: absolute;
                inset: 0;
            }
        }

        .__img {
            mask-image: none;
        }

        .__caption {
            @extend .display-3;
            @extend .p-3;
            @extend .pb-2;

            position: absolute;
            bottom: 0;
            font-weight: 400;
        }
    }
}

// no .olaf-text styling needed. just simple html inside

.olaf-cta-group {
    text-align: center;
    margin-bottom: 1rem;

    /* copied from bootstrap class (.btn-lg) to make button larger */
    &._lg>.btn {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1.25rem;
    }
}

.olaf-row {
    @extend .row;

    .__col {
        @extend .col-12;
        @extend .col-md-6;
        @extend .col-xxl-4;
    }

    &._one-row {
        .__col:nth-child(n + 3) {
            @extend .d-md-none;
            @extend .d-xxl-block;
        }
    }
}

.olaf-card {
    transition-duration: .3s;
    animation-duration: .3s;
    transition-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
    animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
    transition-property: all;

    display: block;
    border-radius: 16px;
    /* yes it has to be exactly 16px to match the slanted corners as closely as possible (that's needed because the radius also effects the box-shadow) */
    box-shadow: var(--olaf-shadow);

    &:hover,
    &:active {
        box-shadow: var(--olaf-shadow-hover);
        transform: scale(1.02);
    }

    .__container {
        @extend .card;

        --#{$prefix}card-bg: var(--olaf-white);

        @include olaf-link-reset();

        font-size: 1rem;
        border: none;
        margin-bottom: 1rem;

        @include slanted-corners();
    }

    .__img {
        aspect-ratio: 8/5;
        object-fit: cover;
        width: 100%;
        height: 100%;

        &[src=""] {
            display: none;
        }
    }

    .__body {
        @extend .card-body;

        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .__title {
        @extend .card-title;
        @extend .h4;

        margin-bottom: 0;
    }

    .__subtitle {
        @extend .card-subtitle;

        --#{$prefix}card-subtitle-color: #{default-color(100, "light-grey")};

        font-weight: 600;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    .__text {
        @extend .card-text;

        font-family: var(--#{$prefix}body-font-family);
        font-weight: var(--#{$prefix}body-font-weight);
        font-size: var(--#{$prefix}body-font-size);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
    }

    @include media-breakpoint-up(lg) {
        .__img {
            aspect-ratio: 1/1;
        }
    }

    @include media-breakpoint-up(xl) {
        .__text {
            -webkit-line-clamp: 5;
        }
    }

    @include media-breakpoint-down(md) {
        .__text {
            -webkit-line-clamp: 5;
        }
    }

    &._bg-img {
        .__container {
            background-color: #{default-color(100)};

            &::before {
                content: '';
                background-image: linear-gradient(#00000080, #00000080);
                position: absolute;
                inset: 0;
            }
        }

        .__img {
            &[src=""] {
                display: block;
            }
        }

        .__body {
            position: absolute;
            bottom: 0;
            color: var(--olaf-always-white);
        }
    }
}


.gallery img {
    width: 100%;
}

.gallery a {
    color: var(--olaf-text);
}

.gallery a:hover {
    text-decoration: none;
}

.olaf-footer {
    @extend .print-d-none;

    text-align: center;

    #cookie-prompt {
        text-align: left;

        .alert {
            margin: 0 auto;

            @include media-breakpoint-up(sm) {
                width: 50%;
            }
        }
    }

    .__themes {
        width: 100%;
    }

    .__toggle {
        border: none;
        background: none;
        color: var(--olaf-light-grey);
        padding: .5rem;
    }

    .__toggle-icon {
        @extend ._bootstrap-icons;
    }

    #toggle-auto-mode {
        vertical-align: middle;

        span {
            font-family: var(--olaf-font);
            text-transform: uppercase;
            font-weight: 600;
            font-size: .8rem;
            color: var(--olaf-text);
            vertical-align: top;
            padding: .125rem .25rem;
            background-color: var(--olaf-light-grey-25);

            @include slanted-corners(.2rem);
        }
    }

    .__legal {
        width: 100%;

        .__item {
            font-family: var(--olaf-font);
            padding: 0.25rem;
            color: var(--olaf-light-grey);

            a {
                color: var(--olaf-light-grey);
            }
        }
    }
}


/*
    page specific adjustments
*/
#events {
    @extend ._violet;

    #future-events {
        @extend ._orange;
    }
}

#about-history p {
    display: flex;
    flex-direction: row;
}

#about-history p time {
    min-width: 5ch;
    /* the unit "ch" is the width of one "0". these are years (4 digits) so there is an extra space before the text starts */
}

#event-data time {
    font-family: var(--olaf-font);
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--olaf-violet);
}

#project-data span {
    font-family: var(--olaf-font);
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--olaf-grey);
}


@media print {
    .print-d-none {
        display: none !important;
    }

    .print-w-100 {
        width: 100% !important;
    }

    .print-d-block {
        display: block !important;
    }

    #olaf-synopsis {
        display: block !important;
        background-color: #ffffff;
        padding: .5rem;

        img {
            height: 3rem;
            margin: .5rem;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }


    body {
        height: 88vh;
    }
}