:root {
    --olaf-font: 'Chakra Petch', sans-serif;
    --olaf-shadow-color: rgba(0, 0, 0, .175);
    --olaf-shadow: 0 0 .8rem .2rem var(--olaf-shadow-color);
    --olaf-shadow-hover: 0 0 2rem .2rem var(--olaf-shadow-color);

    --olaf-white: #ffffff;
    --olaf-black: #000000;
    --olaf-text: #202020;
    
    /* regular blue and violet colors mixed at 87.5 percent opacity (hex: #xxxxxxe0) with black to increase contrast and legibility */
    --olaf-link: #3845a7;
    --olaf-link-visited: #a038a7;

    --olaf-always-white: #ffffff;
    --olaf-always-black: #000000;
    --olaf-always-text: #202020;

    --olaf-orange: #ff8c00;
    --olaf-red: #cc3333;
    --olaf-violet: #b740bf;
    --olaf-blue: #404fbf;
    --olaf-turquoise: #4db3a0;
    --olaf-grey: #404040;
    --olaf-light-grey: #808080;

    /* e0 is hexadecimal for 87.5 percent */
    /* c0 is hexadecimal for 75 percent */
    /* a0 is hexadecimal for 62.5 percent */
    /* 80 is hexadecimal for 50 percent */
    /* 60 is hexadecimal for 37.5 percent */
    /* 40 is hexadecimal for 25 percent */
    --olaf-orange-25: #ff8c0060;
    --olaf-red-25: #cc333360;
    --olaf-violet-25: #b740bf60;
    --olaf-blue-25: #404fbf60;
    --olaf-turquoise-25: #4db3a060;
    --olaf-grey-25: #40404040;
    --olaf-light-grey-25: #80808040;

    --olaf-orange-50: #ff8c00a0;
    --olaf-red-50: #cc3333a0;
    --olaf-violet-50: #b740bfa0;
    --olaf-blue-50: #404fbfa0;
    --olaf-turquoise-50: #4db3a0a0;
    --olaf-grey-50: #40404080;
    --olaf-light-grey-50: #80808080;

    --olaf-orange-75: #ff8c00e0;
    --olaf-red-75: #cc3333e0;
    --olaf-violet-75: #b740bfe0;
    --olaf-blue-75: #404fbfe0;
    --olaf-turquoise-75: #4db3a0e0;
    --olaf-grey-75: #404040c0;
    --olaf-light-grey-75: #808080c0;
}

body, .card {
    transition-duration: .2s;
    animation-duration: .2s;
    transition-property: color, background;
    transition-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
    animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
}

html #svg-moon-fill, html #svg-terminal-fill {
    display: none;
}

@media (prefers-color-scheme: light) {
    html.dark-mode, html.terminal-mode {
        --olaf-shadow-color: rgba(192, 192, 192, .175);

        --olaf-white: #000000;
        --olaf-black: #f0f0f0;
        --olaf-text: #f0f0f0;
        
        --olaf-link: #8891d7;
        --olaf-link-visited: #d288d7;
        
        --olaf-grey: #a0a0a0;
        --olaf-light-grey: #808080;
        
        --olaf-grey-25: #a0a0a040;
        --olaf-light-grey-25: #80808040;

        --olaf-grey-50: #a0a0a080;
        --olaf-light-grey-50: #80808080;

        --olaf-grey-75: #a0a0a0c0;
        --olaf-light-grey-75: #808080c0;
    }
    
    html.terminal-mode {
        --olaf-text: #28FE14;
    }
    
    html.dark-mode #svg-moon {
        display: none;
    }
    
    html.dark-mode #svg-moon-fill {
        display: inline;
    }
    
    html.terminal-mode #svg-terminal {
        display: none;
    }
    
    html.terminal-mode #svg-terminal-fill {
        display: inline;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --olaf-shadow-color: rgba(192, 192, 192, .175);

        --olaf-white: #000000;
        --olaf-black: #f0f0f0;
        --olaf-text: #f0f0f0;
        
        /* regular blue and violet colors mixed at 62.5 percent opacity (hex: #xxxxxxa0) with white to increase contrast and legibility */
        --olaf-link: #8891d7;
        --olaf-link-visited: #d288d7;
        
        /* inverted grey colors to have the same 'brighter' and 'darker' appearance/relation as in light mode */
        /* additionally adjusted olaf-grey values to increase contrast and legibility */
        --olaf-grey: #a0a0a0;
        --olaf-light-grey: #808080;
        
        --olaf-grey-25: #a0a0a040;
        --olaf-light-grey-25: #80808040;

        --olaf-grey-50: #a0a0a080;
        --olaf-light-grey-50: #80808080;

        --olaf-grey-75: #a0a0a0c0;
        --olaf-light-grey-75: #808080c0;
    }

    html.dark-mode {
        --olaf-shadow-color: rgba(0, 0, 0, .175);

        --olaf-white: #ffffff;
        --olaf-black: #000000;
        --olaf-text: #202020;

        --olaf-link: #3845a7;
        --olaf-link-visited: #a038a7;

        --olaf-grey: #404040;
        --olaf-light-grey: #808080;

        --olaf-grey-25: #40404040;
        --olaf-light-grey-25: #80808040;

        --olaf-grey-50: #40404080;
        --olaf-light-grey-50: #80808080;

        --olaf-grey-75: #404040c0;
        --olaf-light-grey-75: #808080c0;
    }
    
    html.terminal-mode {
        --olaf-text: #28FE14;
    }
    
    html #svg-moon {
        display: none;
    }
    
    html #svg-moon-fill {
        display: inline;
    }
    
    html.dark-mode #svg-moon {
        display: inline;
    }
    
    html.dark-mode #svg-moon-fill {
        display: none;
    }
    
    html.terminal-mode #svg-terminal, html.terminal-mode #svg-moon-fill {
        display: none;
    }
    
    html.terminal-mode #svg-terminal-fill, html.terminal-mode #svg-moon {
        display: inline;
    }
}
