:root {
    --olaf-font: 'Chakra Petch', sans-serif;
    --olaf-orange: #ff8c00;
    --olaf-red: #cc3333;
    --olaf-violet: #b740bf;
    --olaf-blue: #404fbf;
    --olaf-turquoise: #4db3a0;
    --olaf-grey: #404040;
    --olaf-light-grey: #808080;
    
    /* c0 is hexadecimal for 75 percent */
    /* 9a is hexadecimal for 60 percent */
    /* 80 is hexadecimal for 50 percent */
    /* 40 is hexadecimal for 25 percent */
    --olaf-orange-25: #ff8c0040;
    --olaf-red-25: #cc333340;
    --olaf-violet-25: #b740bf40;
    --olaf-blue-25: #404fbf40;
    --olaf-turquoise-25: #4db3a040;
    --olaf-grey-25: #40404040;
    --olaf-light-grey-25: #80808040;
    
    --olaf-orange-50: #ff8c0080;
    --olaf-red-50: #cc333380;
    --olaf-violet-50: #b740bf80;
    --olaf-blue-50: #404fbf80;
    --olaf-turquoise-50: #4db3a080;
    --olaf-grey-50: #40404080;
    --olaf-light-grey-50: #80808080;
    
    --olaf-orange-75: #ff8c00c0;
    --olaf-red-75: #cc3333c0;
    --olaf-violet-75: #b740bfc0;
    --olaf-blue-75: #404fbfc0;
    --olaf-turquoise-75: #4db3a0c0;
    --olaf-grey-75: #404040c0;
    --olaf-light-grey-75: #808080c0;
}