---
layout: "base.njk"
title: "Förderverein"
navActive: 5
---
<h1>Die Möglichmacher</h1>

{% set olafTextContent %}
<h2>oLaFF &mdash; offenes Labor Fulda Förderverein</h2>
<p>
    rechtliches und tolle firmenlogos
</p>
{% endset %}
{% include "partials/olaf-text.njk" %}
