---
layout: "base.njk"
title: "Projekte"
navActive: 4
---
<h1>Die Ergebnisse</h1>
<script src="assets/lib/masonry-layout/masonry.pkgd.min.js"></script>
<section id="projects-log">
    <div class="layout-row" data-masonry='{"itemSelector": ".layout-row__col", "columnWidth": ".layout-row__col", "percentPosition": true}'>
        <div class="layout-row__col">
            {% set olafCardLink %}
            projekt/
            {% endset %}
            {% set olafCardOptions %}
            
            {% endset %}
            {% set olafCardImg %}
            https://olaf.one/images/eTrike.jpg
            {% endset %}
            {% set olafCardTitle %}
            eTrike
            {% endset %}
            {% set olafCardSubtitle %}
            <div class="__category">
                E-Technik
            </div>
            <div class="__category">
                Mobilität
            </div>
            {% endset %}
            {% set olafCardText %}
            Excepturi molestias architecto saepe amet. Doloribus ullam ipsam accusantium beatae consequuntur ipsum molestiae. Et dolorem aperiam totam non id ratione corporis. Enim consequatur omnis optio doloribus doloribus placeat quo. Eum temporibus laborum consequatur.
            {% endset %}
            {% include "partials/olaf-card.njk" %}
        </div>
        <div class="layout-row__col">
            {% set olafCardLink %}
            projekt/
            {% endset %}
            {% set olafCardOptions %}
            
            {% endset %}
            {% set olafCardImg %}
            https://olaf.one/images/Pi-Wall.jpg
            {% endset %}
            {% set olafCardTitle %}
            Pi-Wall
            {% endset %}
            {% set olafCardSubtitle %}
            <div class="__category">
                Informatik
            </div>
            <div class="__category">
                usw.
            </div>
            {% endset %}
            {% set olafCardText %}
            Excepturi molestias architecto saepe amet. Doloribus ullam ipsam accusantium beatae consequuntur ipsum molestiae. Et dolorem aperiam totam non id ratione corporis. Enim consequatur omnis optio doloribus doloribus placeat quo. Eum temporibus laborum consequatur.
            {% endset %}
            {% include "partials/olaf-card.njk" %}
        </div>
        <div class="layout-row__col">
            {% set olafCardLink %}
            projekt/
            {% endset %}
            {% set olafCardOptions %}
            
            {% endset %}
            {% set olafCardImg %}{% endset %}
            {% set olafCardTitle %}
            7x42 LED Board
            {% endset %}
            {% set olafCardSubtitle %}
            <div class="__category">
                E-Technik
            </div>
            <div class="__category">
                Informatik
            </div>
            {% endset %}
            {% set olafCardText %}
            Excepturi molestias architecto saepe amet. Doloribus ullam ipsam accusantium beatae consequuntur ipsum molestiae. Et dolorem aperiam totam non id ratione corporis. Enim consequatur omnis optio doloribus doloribus placeat quo. Eum temporibus laborum consequatur.
            {% endset %}
            {% include "partials/olaf-card.njk" %}
        </div>
        <div class="layout-row__col">
            {% set olafCardLink %}
            projekt/
            {% endset %}
            {% set olafCardOptions %}
            
            {% endset %}
            {% set olafCardImg %}
            https://olaf.one/images/Drone.jpg
            {% endset %}
            {% set olafCardTitle %}
            Drohne go brrr
            {% endset %}
            {% set olafCardSubtitle %}
            <div class="__category">
                Kategorie 1
            </div>
            <div class="__category">
                Kategorie 2
            </div>
            <div class="__category">
                Kategorie 3
            </div>
            {% endset %}
            {% set olafCardText %}
            Excepturi molestias architecto saepe amet. Doloribus ullam ipsam accusantium beatae consequuntur ipsum molestiae. Et dolorem aperiam totam non id ratione corporis. Enim consequatur omnis optio doloribus doloribus placeat quo. Eum temporibus laborum consequatur.
            {% endset %}
            {% include "partials/olaf-card.njk" %}
        </div>
        <div class="layout-row__col">
            {% set olafCardLink %}
            projekt/
            {% endset %}
            {% set olafCardOptions %}
            
            {% endset %}
            {% set olafCardImg %}
            https://olaf.one/images/hand3.jpg
            {% endset %}
            {% set olafCardTitle %}
            Digitale Strichliste
            {% endset %}
            {% set olafCardSubtitle %}
            <div class="__category">
                Informatik
            </div>
            <div class="__category">
                Docker ;)
            </div>
            {% endset %}
            {% set olafCardText %}
            Excepturi molestias architecto saepe amet. Doloribus ullam ipsam accusantium beatae consequuntur ipsum molestiae. Et dolorem aperiam totam non id ratione corporis. Enim consequatur omnis optio doloribus doloribus placeat quo. Eum temporibus laborum consequatur.
            {% endset %}
            {% include "partials/olaf-card.njk" %}
        </div>
    </div>

    {% include "partials/pagination.njk" %}
</section>
