<nav class="olaf-navbar">
    <!-- The following div (.olaf-navbar .__container) is here so that the following items naturally have the same width as the image. This is also handy because the .olaf-navbar element gets its width defined through its col class (this is a defined width). This allows free positioning of the .olaf-navbar .__container inside that pre-defined box (.olaf-navbar). -->
    <div class="__container">
        <a href="index.html" class="__brand">
            <img src="assets/images/oLaF_v1.png" alt="oLaF Logo">
            <p>oLaF <i>SFO</i></p>
        </a>
        <button class="__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#olaf-navbar__nav" aria-controls="olaf-navbar__nav" aria-expanded="true" aria-label="Navigation ausklappen">
            <div class="__icon">&#xF479;</div>
        </button>
        <!-- navbar toggler for mobile -->
        <div id="olaf-navbar__nav" class="__nav collapse show">
            <ul class="__site">
                <li class="nav-item first">
                    <a href="index.html" class="nav-link {% if navActive == 1 %}active{% endif %}">
                        <span class="__icon bi-rocket-takeoff"></span> oLaF
                    </a>
                </li>
                <li class="nav-item">
                    <a href="about/" class="nav-link {% if navActive == 2 %}active{% endif %}">
                        <span class="__icon bi-info-circle"></span> About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="space/" class="nav-link {% if navActive == 3 %}active{% endif %}">
                        <span class="__icon bi-door-open"></span>
                        Space
                    </a>
                </li>
                <li class="nav-item">
                    <a href="projekte/" class="nav-link {% if navActive == 4 %}active{% endif %}">
                        <span class="__icon bi-nut"></span>
                        Projekte
                    </a>
                </li>
                <li class="nav-item last">
                    <a href="foerderverein/" class="nav-link {% if navActive == 5 %}active{% endif %}">
                        <span class="__icon bi-grid"></span>
                        Förderverein
                    </a>
                </li>
            </ul>
            <hr class="__divider">
            <div class="__socials">
                <a href="https://www.youtube.com/@oLaF-SFO" class="__link" target="_blank" id="youtube-link">
                    <span class="__icon bi-youtube"></span>
                </a>
                <a href="https://www.instagram.com/olaf.sfo/" class="__link" target="_blank" id="instagram-link">
                    <span class="__icon bi-instagram"></span>
                </a>
                <a href="" class="__link" target="_blank" id="rss-link">
                    <span class="__icon bi-rss"></span>
                </a>
            </div>
            <div class="__links">
                <a href="https://maker.schule">maker.schule</a>
                <a href="https://stein.schule">stein.schule</a>
            </div>
            <hr class="__divider _end">
        </div>
        <script>
            // this script enables the use of the navbar on mobile devices with JavaScript disabled
            document.querySelector('.olaf-navbar .__toggler').ariaExpanded = false;
            document.querySelector('.olaf-navbar .__nav').classList.remove('show');
        </script>
    </div>
</nav>