<article class="olaf-card {{ olafCardOptions }}">
    <a class="__container" href="{{ olafCardLink }}">
        <img class="__img" src="{{ olafCardImg }}" alt="">
        <div class="__body">
            <h3 class="__title">{{ olafCardTitle }}</h3>
            <div class="__subtitle">
                {{ olafCardSubtitle | safe }}
            </div>
            <p class="__text">
                {{ olafCardText | safe }}
            </p>
        </div>
    </a>
</article>