<section class="olaf-downloads">
    <div class="__container">
        <a href="" class="__file bi-file-earmark-arrow-down">projektbericht.pdf</a>
        <a href="" class="__file"><span class="__icon bi-file-earmark-arrow-down"></span>projekt-dateien.pdf</a>
    </div>
</section>