<nav class="olaf-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">{{ olafBreadcrumbParent }}</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="">{{ olafBreadcrumbCurrent }}</a></li>
    </ol>
</nav>