<section class="olaf-image {{ olafImageOptions }}">
    <figure class="__container">
        <img src="{{ olafImageUrl}}" alt="" class="__img">
        <figcaption class="__caption">
            {{ olafImageCaption | safe }}
        </figcaption>
    </figure>
</section>