<div class="olaf-synopsis">
    <div class="__container">
        <img class="__img" src="assets/images/oLaF_v1_einfach.png" alt="">
        <div>
            <h2>oLaF &ndash; Schülerforschungszentrum</h2>
            <p>
                At deleniti repellat expedita aspernatur ipsa qui doloremque facere. Eum enim velit rerum. Est dolorem voluptas iure. Fugiat excepturi sit suscipit. Neque est beatae est. Aut aliquid aut rerum.
            </p>
        </div>
    </div>
    <hr class="__divider">
</div>