<div class="olaf-btn-group" role="group" aria-label="Seiten Navigation">
    <div class="__container">
        <span class="btn disabled">&laquo;</span>
        <span class="btn disabled">&lsaquo;</span>
        <a href="" class="btn active">1</a>
        <a href="" class="btn">2</a>
        <a href="" class="btn">&rsaquo;</a>
        <a href="" class="btn">&raquo;</a>
    </div>
</div>